h1 {
    font-size: 24px;
    font-weight: bold;
    color: #1E90FF;

}

body {
    font-family: Arial, sans-serif;

}

.part2 {
    color: #32CD32;

}

.Contact {
    color:#FFA07A ;
}

h2 {
    color: #20B2AA;

}

span {
    font-weight: bold;
    color: red;
}

